body

h2
{font-family:"Times New Roman",Georgia,Serif;
font-style:calibri;
font-size:150%;
text-align: center;
color:green}

.rindkopas 
{font-size: 18px;
text-indent:25px; 
text-align: justify;}

h3
{font-family:"Times New Roman",Georgia,Serif;
font-style:calibri;
font-size:150%;
text-align: center;
color:purple}

h1
{font-family:"Times New Roman",Georgia,Serif;
font-style:calibri;
font-size:150%;
text-align: center;
color:red}